@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,700;1,900');

:root {
  font-family: 'Lato', sans-serif;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.spaced {
  justify-content: space-between;
}

textarea {
  min-height: 100px;
  padding: 0.5em;
}

input {
  padding: 0.5em;
}

body {
  margin: 0;
  padding: 0;
}
