.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

textarea {
  min-height: 100px;
  padding: 0.5em;
}

input {
  padding: 0.5em;
}

body {
  margin: 0;
  padding: 0;
}
